        <!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Grenier Lego" />
	<meta name="twitter:description" content="Accueil" />

	<!-- Open Graph data -->
	<meta property="og:title" content="Grenier Lego" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="#"/>
	<meta property="og:description" content="Accueil" />
	<meta property="og:site_name" content="Grenier Lego" />
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Grenier Lego</title>
        <link rel="icon" href="/public/img/logo_brick.svg" type="image/png">
        <link rel="shortcut icon" href="/public/img/logo_brick.svg" type="img/x-icon">
        <meta name="description" content="Grenier Lego - Accueil" />
	<meta name="keywords" content="Lego" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Remi_CELLARD">

        <!-- CSS -->
        <link rel="stylesheet" href="/public/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/font_awesome/all.min.css" />
        <link rel="stylesheet" href="/public/css/rc/style.css" />