        <nav class="navbar navbar-expand-lg navbar-light bg-lego">
            <a class="navbar-brand" href="/"><img alt="" class="img-fluid logo-lego rotate" src="/public/img/logo_brick.svg"/> Grenier Lego</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#visual_mainNavbarToggler" aria-controls="visual_mainNavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="visual_mainNavbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/themes">Thèmes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/boites">Boîtes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/briques">Briques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gestion">Gestionnaire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:contact@grenier-lego.fr">Nous contacter</a>
                    </li>
                </ul>
            </div>
        </nav>