<%inherit file="../base.html"/>

<%block name="page_content">
                <h2>Grenier Lego</h2>
                <p>
                    Site n°1 non officiel de référencement des constructions Lego<br/>
                    Découvrez un ensemble variés de thèmes, boîtes et pièces enregistré dans notre base de donnée.<br/>
                    Vous pouvez aussi soumettre les boîtes de construction que vous ne trouvez pas sur le site en cliquant <a href="/gestion" class="btn btn-sm btn-info">ICI</a>
                </p>
</%block>